:root
{
    --purple: #8741ff;
    --purple-light: #d6bfff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    user-select: none;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    -webkit-font-smoothing: antialiased;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #EFEFBB; 
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB); 
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);

}

main
{
    background-color: white;
    padding: 30px;
    text-align: center;
    outline: 2px black dashed;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body > div
{
    display: flex;
}

.grid-container
{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    outline: 2px solid black;
}

.cell
{
    box-sizing: content-box;
    background-color: white;
    outline: 1px solid black;
    height: 50px;
    width: 50px;
}

.cell:hover
{
    filter: brightness(0.8);
}

.active
{
    background-color: grey;
}

.row
{
    display: flex;
}

.slider-grid-size
{
    width: 100%;
    accent-color: #8741ff;
    margin: 0 0 20px 0;
}

.outline-tg
{
    margin: 30px 0 0 0;
    border: none;
}

.title
{
    margin-bottom: 30px;
}

.sidebar
{
    background: linear-gradient(90deg, white 90%, rgb(188, 188, 188));
    padding: 30px;
    text-align: center;
    width: 200px;
    outline: 2px rgb(168, 167, 167) dashed;
}

.sidebar h2
{
    margin: 20px;
}

.colours
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3 , 1fr);
}

.colours div
{
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
    outline: 1px solid black;
    background-color: black;
    transition: filter .5s;
}

.colours div:hover
{
    filter: brightness(1.5);
    cursor: pointer;
}

.tools button
{
    border: none;
    width: 100%;
}

.button
{
    margin-bottom: 10px;
    padding: 10px 10px;
    transition: background-color .5s;
}

.button:hover
{
    cursor: pointer;
    background-color: var(--purple);
    color: white;
}

.selected
{
    outline: 2px solid var(--purple-light);
    background-color: var(--purple);
    color: white;
}