*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    -webkit-font-smoothing: antialiased;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #FF416C;  
    background: -webkit-linear-gradient(to bottom, #FF4B2B, #FF416C);
    background: linear-gradient(to bottom, #FF4B2B, #FF416C); 

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.grid-container
{
    display: flex;
    flex-wrap: wrap;
}

.box
{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    outline: 1px solid black;
    outline-offset: -1px;
}