:root {
    --purple: #8741ff;
    --purple-light: #d6bfff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    user-select: none;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
}

main {
    background-color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 30fr 1fr;
    gap: 20px;
    outline: 2px black dashed;
    min-height: 390px;
    width: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body>div {
    display: flex;
    aspect-ratio: 1 / 1;
    height: 80vh;
}

.grid-container {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: repeat(var(--columnCount), minmax(0, 1fr));
    grid-template-rows: repeat(var(--rowCount), minmax(0, 1fr));
    outline: 5px solid black;
}

.cell {
    box-sizing: content-box;
    background-color: white;
    outline: 1px solid black;
}

.cell:hover {
    filter: brightness(0.8);
}

.active {
    background-color: grey;
}

.row {
    display: flex;
}

.slider-grid-size {
    width: 100%;
    accent-color: #8741ff;
}

.grid-overlay-tg {
    border: none;
    justify-self: flex-end;
}

.title {
    text-align: right;
}

.sidebar {
    background: linear-gradient(90deg, white 90%, rgb(188, 188, 188));
    padding: 30px;
    text-align: center;
    width: 250px;
    outline: 2px rgb(168, 167, 167) dashed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.sidebar h2
{
    text-align: right;
}

button {
    border: none;
    width: 100%;
    padding: 10px 10px;
    transition: background-color .5s;
}

button:hover {
    cursor: pointer;
    background-color: var(--purple);
    color: white;
}

.selected {
    outline: 2px solid var(--purple-light);
    background-color: var(--purple);
    color: white;
}

.colourPalette {
    display: flex;
    flex-wrap: wrap;
}

.colour {
    flex: 0 0 35px;
    width: 35px;
    height: 35px;
    transition: transform .2s;
}

.colour:hover
{
    transform: scale(1.2);
    cursor: pointer;
}

.selectedColour
{
    outline: 2px solid var(--purple-light);
    outline-offset: -2px;
}